<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMunyK2O7UOKA4_W2JTA4ddALSFi2M5VE</string>
	<key>GCM_SENDER_ID</key>
	<string>946683088707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-application-49b65</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-application-49b65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946683088707:ios:c29682b5071237f3d229f6</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-application-49b65-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>